node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn
.git
.gitignore
.github
.env
.env.*
*.md
!README.md
.DS_Store
.vscode
.idea
.cursorignore
.cursorindexingignore
coverage
*.log
.editorconfig
docker-compose.yml
.dockerignore
